/*& =============== C O L O R ===============*/

#Color NOW{

    --body-color: hsl(145, 100%, 95%);
    --title-color: #889ecc;
    --text-color:  #889ecc;
}

#Button{
    background: yellow;
    color: #f8b5b5;
    box-shadow: 0 9px 21px hsla(210, 20%, 32%, .2); 

}


#Color var2{
    --body-color: #FBE8A6
    --title-color: #f4976C
    --text-color:  #303C6C   
    #B4DFE5
    #D2FDFF
}

/*~ ===============================================================================*/
/*~ =============================  E V E N T S  =====================================*/
/*~ ===============================================================================*/
#Color NOW{

    background-color: #f1eb8a;
    --title-color: #889ecc;
    --text-color:  #889ecc;
}

#Color other_options{

   
}








/*& =============== logo  ===============*/
#LOGO{
    1. MK 
    2.
    3.
    4.
}

/*~ ===============================================================================*/
/*~ =============================  contacts  =====================================*/
/*~ ===============================================================================*/

.contact__text__content{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #9fadff;
    align-items: flex-start;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.background-color: #836096;


/*?==========================================================*/
/*?===================== N O T E ===========================*/
/*?==========================================================*/


